@charset "utf-8";

/* ---------------

CSSを適用していく時は、下記テンプレートをコピペして
波括弧の間に命令を書くようにしましょう！

↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ここからテンプレート ↓↓↓↓↓↓↓↓↓↓↓↓↓↓

.nickname{

}

↑↑↑↑↑↑↑↑↑↑↑↑↑↑ ここからテンプレート ↑↑↑↑↑↑↑↑↑↑↑↑↑↑

---------------*/

body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

.profile {
    display: flex;
    width: 960px;
    margin: auto;
    padding: 80px 0 0;
}

.profile-thumb {
    width: 200px;
    margin-right: 24px;
    padding: 0 40px;
}

.profile-info {
    width: 680px;
}

.profile-name {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
}

.profile-text {
    font-size: 16px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 40px auto;
}

.gallery-item {
    width: 300px;
    padding: 10px;
}
